:root {
  --r-background-color: #424b54;
  --r-block-margin: 10px;
  --r-code-font: "JetBrains Mono", monospace;
  --r-heading-color: #80A4ED;
  --r-heading-font-weight: 600;
  --r-heading-font: var(--r-main-font);
  --r-heading-letter-spacing: -0.05em;
  --r-heading-margin: 0 0 30px 0;
  --r-heading-text-transform: normal;
  --r-heading1-size: 2em;
  --r-link-color: #e8918e;
  --r-link-color-hover: #eda7a5;
  --r-link-color-dark: #744947;
  --link-color-alt: #2c223c;
  --r-main-color: #e7e2ed;
  --r-main-font-size: 28px;
  --r-main-font: "Fira Sans", sans-serif;
  --border-radius: 5px;
  --color-muted: #e1dbe9;
  --color-code-inline: #e1ce7a;
  --code-background: #21262a;
}

/* Primeiro slide */
#first-slide > h1 {
  --r-heading-letter-spacing: -0.044em;
  --r-heading-line-height: 1;
  --r-heading-font-weight: 700;
  --r-heading1-size: 2.5em;
  --r-heading-margin: 0 0 10px 0;
}
#first-slide > h1 > span {
  color: var(--r-main-color);
  position: relative;
  font-style: italic;
  padding: 0 0.15em 0 0.1em;
}
#first-slide > h1 > span:before {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 5px;
  left: 0;
  background-color: var(--r-heading-color);
  transform: skewX(-9deg);
  z-index: -1;
}
#first-slide > h2 {
  --r-heading2-size: 1.15em;
  --r-heading-font-weight: 600;
  opacity: 0.8;
}

/* Sobre mim */
#about-me {
  display: flex;
  grid-template-columns: auto 1fr;
  column-gap: 3rem;
}
#about-me > ul {
  list-style-type: circle;
}
#profile-pic > img {
  margin: 0;
  border-radius: var(--border-radius);
}
#profile-pic > figcaption {
  font-weight: 600;
  line-height: 1;
}
.about-me-links {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 1.25rem;
  justify-content: start;
}

.about-me-links {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 1.25rem;
  justify-content: start;
}
.about-me-links > a {
  display: flex;
  flex: 33.333% 0 0;
  align-items: center;
  text-align: left;
  font-size: 0.8em;
  column-gap: 0.4em;
}
.about-me-links > a > svg {
  width: 40px;
}
.about-me-links > a > svg .fill {
  fill: var(--r-link-color);
}
.about-me-links > a:is(:hover, :focus) > svg .fill {
  fill: var(--r-link-color-hover);
}
.about-me-links > div > svg .fill-bg,
.about-me-links > a > svg .fill-bg {
  fill: var(--r-background-color);
}
.about-me-links > a > span > span,
.about-me-links > a > span > b {
  display: block;
  line-height: 1;
}
.about-me-links > a > span > span {
  color: var(--r-main-color);
}

/* Slides e Workshops */
.qrcode-featured-text {
  font-size: 1.15em;
  line-height: 1.3;
  letter-spacing: -1px;
}

/* Layout */
.reveal .slides {
  text-align: left;
  letter-spacing: -0.04em;
}
.reveal .slide-number {
  border-radius: var(--border-radius);
  right: auto;
  left: 8px;
}
h1:not(:last-child):not(.title) {
  --r-heading1-size: 0.8em;
  --r-heading-margin: 0;
  --r-heading-font-weight: 500;
  --r-heading-letter-spacing: -1.4px;
  opacity: 0.6;
}

/* Código */
.reveal pre {
  margin-left: 0;
  width: 100%;
  letter-spacing: -0.25px;
  line-height: 1.5;
  font-size: 0.5em;
  box-shadow: none;
}
code:not(.hljs),
kbd {
  font-family: var(--r-code-font);
  letter-spacing: -0.088em;
  color: var(--color-code-inline);
}
kbd {
  white-space: nowrap;
}
code.hljs {
  background-color: var(--code-background);
  border-radius: var(--border-radius);
  scrollbar-color: #383838 #181818;
  scrollbar-width: thin;
}
pre.code-wrapper > kbd {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: var(--code-background);
  padding: 3px 6px 0 6px;
  letter-spacing: -0.04em;
  font-size: 0.8em;
  color: var(--color-muted);
}
pre.code-wrapper > kbd + .hljs {
  border-top-left-radius: 0;
  margin-top: -3px;
}
td.hljs-ln-line.hljs-ln-numbers {
  opacity: 0.25;
}
.hljs-meta.prompt_ {
  user-select: none;
}

/* Scaffolding */
.d-flex {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.d-flex.cols-2 > div {
  flex: calc(50% - 10px) 1 0;
}
.d-flex.cols-4 > div {
  flex: calc(25% - 15px) 1 0;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 1em !important;
}
.mt-2 {
  margin-top: 2em !important;
}

/* Tipografia */
.reveal strong, .reveal b {
  font-weight: 600;
}
.reveal em, .reveal i:not(.ti) {
  font-style: italic;
}
.text-block {
  user-select: none;
  vertical-align: text-bottom;
}
.fw-bold {
  font-weight: bold;
}
.text-muted {
  color: var(--color-muted);
  opacity: 0.4;
}
.caption {
  font-size: 0.6em;
  color: var(--color-muted);
}
.caption:last-child {
  margin-bottom: 0;
}
.text-center {
  text-align: center;
}
.fs-smaller {
  font-size: 0.85em;
}
.fs-small {
  font-size: 0.6em;
}

/* Ícones */
.ti {
  font-size: 0.9em;
}
.ti.d-block {
  display: block;
}
h1 > .ti,
h2 > .ti {
  display: inline-block;
  margin-left: -1.15em;
  color: var(--color-code-inline);
}
.invert {
  transform: scale(-1, 1);
}

/* SVG */
.svg-wrapper > svg {
  max-width: 100%;
  letter-spacing: -0.5px;
}

/* Imagem */
img {
  border-radius: var(--border-radius);
}

/* Alert */
.alert {
  padding: 0.6em 0.75em;
  background: var(--r-link-color);
  font-size: 0.65em;
  border-radius: var(--border-radius);
  color: var(--r-link-color-dark);
}
.alert > code {
  white-space: nowrap;
  color: var(--link-color-alt);
}
.alert > a {
  white-space: nowrap;
  color: var(--link-color-alt);
}
.alert > a:is(:hover, :focus) {
  opacity: 0.9;
}

/* Quote */
.reveal blockquote {
  width: 100%;
  margin-left: 0;
  padding: 15px;
  font-size: 0.9em;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
blockquote > cite {
  display: block;
  opacity: 0.7;
  font-size: 0.8em;
}
blockquote > cite:before {
  content: "— ";
}

/* Listas */
.reveal ol {
  margin: 0.5em 0 0.5em 1em;
}
.reveal li > ul,
li + li {
  margin-top: 0.3em;
}

/* Referências */
div.references,
a.reference {
  font-size: 0.75em;
}
div.references,
a.reference {
  display: block;
  margin-top: 1em;
}
.references > a {
  display: inline-block;
}
.references > a:before,
a.reference:before {
  opacity: 0.5;
  content: "[ ";
}
.references > a:after,
a.reference:after {
  opacity: 0.5;
  content: " ]";
}
.reveal a {
  transition: color 0.25s ease;
}
.about-me-links > div > svg .fill {
  transition: fill 0.25s ease;
}

/* Problema inicial */
#failure-points {
  overflow: hidden;
  max-height: 430px;
  list-style-position: inside;
}

/* Componentes */
.scenario {
  font-weight: bold;
}
